.tab-list { 
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: -50px;
}

.tab-list-item {
  display: inline-block;
  background-color: white;
  font-size: 20px;
  width: 233px;
  height: 60px;
  font-weight: bold;
  list-style: none;
  padding: 14px 3.4rem;
  border: solid #C4A484;
  @media only screen and (max-width: 600px) {
    font-size: 10px;
  }
}

.tab-list-item:hover {
    color: #ffdd00;
    transition: 200ms ease-in;
    text-decoration: none;
    cursor: pointer; 
}

.tab-list-active {
  background-color: black;
  color: #C4A484;
  border: none;
  padding: 16px 3.4rem;
}

.tab-list-active:hover {
    color: #ffdd00;
    cursor: pointer; 
}