.form-container{
    
    top: 15vh;
    background: #fff;
    color: #000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.login-img{
    width: 40vw;
    padding-left: 70px;
}
.container-fluid {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
padding-bottom: 30px;
}

